/* VARIABLES */

:root {
  --second-font: "Dm Serif Display", serif;
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/karla-v23-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/karla-v23-latin-700.woff2") format("woff2"),
    url("../fonts/karla-v23-latin-700.woff") format("woff");
}

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}

/* GENERAL */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", "Arial", sans-serif;
  font-weight: 700;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* SITE HEADER START */

.site-header {
  position: fixed;
  z-index: 30;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 19px;
  background-color: #fff;
}

.site-header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.site-header__menu-btn {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  border: none;
  background-color: transparent;
}

.site-nav {
  width: 100%;
  max-width: 446px;
}

.site-nav__box {
  width: 100%;
  max-width: 446px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__list-box {
  width: 100%;
  max-width: 270px;
}

.site-nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__link {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.site-nav__link:hover {
  color: #2C2830;
}

.view-link {
  display: inline-block;
  padding: 11px 28px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2C2830;
  border: 1.5px solid #2C2830;
  text-align: center;
}

.view-link:hover {
  color: #fff;
  background-color: #2C2830;
}


@media only screen and (max-width: 600px) {
  .site-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-header--open .site-nav {
    display: block;
  }

  .site-header--open .site-header__menu-btn {
    background-image: url("../images/exit.svg");
  }

  .site-header__menu-btn {
    display: block;
  }

  .site-nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: none;
  }

  .site-nav__box {
    max-width: 500px;
    padding-top: 40px;
    padding-bottom: 300px;
    flex-direction: column;
    background-image: url("../images/site-menu-bgi.svg");
    background-size: cover;
    background-position: left bottom;
  }

  .site-nav__list-box {
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
  }

  .site-nav__list {
    width: 100%;
    flex-direction: column;
  }

  .site-nav__item {
    margin-bottom: 24px;
  }

  .site-nav__link {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.36364px;
    color: #fff;
  }

  .site-nav__link:hover {
    color: #837D88;
  }

  .view-link {
    width: 100%;
    max-width: 327px;
    padding: 9px 0;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.36364px;
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .view-link:hover {
    color: #2C2830;
    background-color: #fff;
  }
}


/* SITE HERO SECTION START */

.hero {
  padding-bottom: 465px;
  position: relative;
  background-image: url("../images/hero-bottom-lines.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 880px) 490px;
}

.hero__top {
  position: relative;
  z-index: -1;
  padding-top: 185px;
  padding-bottom: 127px;
  background-color: #2D2641;
  background-image: url("../images/hero-top-lines.svg");
  background-repeat: no-repeat;
  background-size: 700px 650px;
  background-position: calc(50% + 630px) -59px;
}

.hero__inner {
  position: relative;
}

.hero__info {
  max-width: 540px;
}

.hero__title-box {
  max-width: 520px;
}

.hero__title {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding-top: 63px;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.hero__title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #fff;
}

.hero__text {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.hero__link {
  position: relative;
  z-index: 30;
  display: inline-block;
  padding: 12px 27px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
}

.hero__link:hover {
  color: #2C2830;
  background-color: #fff;
}

.hero__img-box {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  max-width: 540px;
  height: 650px;
}

.hero__img {
  width: 100%;
  height: 100%;
}

.hero__img--mobile {
  display: none;
}

@media only screen and (max-width: 1120px) {
  .hero {
    background-position: calc(50% - 800px) 570px;
  }

  .hero__top {
    background-position: calc(50% + 480px) -59px;
  }

  .hero__info {
    max-width: 340px;
  }
}

@media only screen and (max-width: 970px) {

  .hero {
    position: relative;
    background-position: calc(50% + 550px) 730px;
  }

  .hero__top {
    padding-top: 625px;
    padding-bottom: 93px;
    background-repeat: no-repeat;
    background-position: calc(50% - 580px) 290px;
  }

  .hero__inner {
    position: static;
  }

  .hero__info {
    max-width: 427px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__title-box {
    max-width: 100%;
  }

  .hero__title {
    position: relative;
    margin: 0;
    margin-bottom: 16px;
    padding-top: 0;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.666667px;
    color: #FFFFFF;
  }

  .hero__title::before {
    display: none;
  }

  .hero__text {
    margin-bottom: 32px;
  }

  .hero__img-box {
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 540px;
    height: 550px;
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    background-position: calc(50% + 480px) 830px;
  }

  .hero__top {
    background-position: calc(50% - 490px) 290px;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    background-size: 380px 350px;
    background-position: calc(50% + 252px) 880px;
  }

  .hero__top {
    background-size: 485px 450px;
    background-position: calc(50% - 205px) 255px;
  }

  .hero__info {
    max-width: 327px;
  }

  .hero__img--desctop {
    display: none;
  }

  .hero__img--mobile {
    display: block;
  }

  .hero__img-box {
    max-width: 375px;
    height: 451px;
    top: 80px;
  }
}





/* difference section :start */

.different {
  padding-bottom: 158px;
}

.different__inner {
  position: relative;
}

.different__title {
  position: absolute;
  top: -218px;
  margin: 0;
  margin-bottom: 96px;
  padding-top: 63px;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2C2830;
}

.different__title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background-color: #C396C6;
}

.different__list {
  max-width: 100%;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.different__item {
  max-width: 350px;
}

.different__item:not(:last-child) {
  margin-right: 30px;
}

.different__item::before {
  display: block;
  content: "";
  width: 86px;
  height: 86px;
  margin-bottom: 32px;
  background-image: url("../images/snappy.svg");
}

.different__item:nth-child(2)::before {
  background-image: url("../images/prices.svg");
}

.different__item:nth-child(3)::before {
  background-image: url("../images/people.svg");
}

.different__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
  color: #2C2830;
}

.different__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #837D88;
}

@media only screen and (max-width: 576px) {
  .different {
    padding-bottom: 140px;
  }

  .different__title {
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 63px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.666667px;
  }

  .different__title::before {
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .different__list {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    margin: 0 auto;
  }

  .different__item {
    max-width: 100%;
    text-align: center;
  }

  .different__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;
  }

  .different__item::before {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}



/* work setion start */

.work {
  margin-bottom: 150px;
}

.work__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 69px 80px;
  background-image: url("../images/work-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work__title-box {
  max-width: 475px;
}

.work__title {
  margin: 0;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #FFFFFF;
}

.work__link {
  display: inline-block;
  padding: 11px 23px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
}

.work__link:hover {
  color: #2C2830;
  background-color: #fff;
}

@media only screen and (max-width: 850px) {
  .work {
    margin-bottom: 140px;
  }

  .work__inner {
    display: flex;
    flex-direction: column;
    max-width: 576px;
    margin: 0 auto;
    padding: 72px 24px;
    background-image: url("../images/work-bg-mobile.svg");
  }

  .work__title-box {
    max-width: 279px;
    text-align: center;
  }

  .work__title {
    margin-bottom: 40px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.555556px;
    color: #FFFFFF;
  }

  .work__link {
    text-align: center;
  }
}



/* site footer :start */

.site-footer {
  padding: 64px 0;
  background-image: url("../images/footer-bgi.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.site-footer__top {
  max-width: 100%;
  margin-bottom: 48px;
  padding-bottom: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DADADA;
}

.social {
  width: 100%;
  max-width: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  display: inline-block;
  color: #837D88;
}

.social__link:hover {
  color: #2C2830;
}

.site-footer__bottom {
  display: flex;
  justify-content: space-between;
}

.site-footer__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 36px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.site-footer__link {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
}

.site-footer__link:hover {
  text-decoration-line: underline;
}

@media only screen and (max-width: 576px) {
  .site-footer {
    padding: 88px 0;
    background-image: url("../images/footer-bgi-mobile.svg");
  }

  .site-footer__top {
    margin-bottom: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    border-bottom: 1px solid #DADADA;
  }

  .social {
    margin-top: 32px;
  }

  .site-footer__bottom {
    flex-direction: column;
    text-align: center;
  }

  .site-footer__list-box:not(:last-child) {
    margin-bottom: 40px;
  }
}